*{
    margin: 10px;
    padding: 10px;
}
html{
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    display: none;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
article::after{
    content: 'confira mais no nosso site:www.evenilson.com';
    font-size: 1em;
}
article{
    width: 100%;
}